#wrapper{
    width: 980px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: grey;
    margin: auto;
}
#flex-div{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    vertical-align: middle;
    
}
.thumb-pic {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: pink;
    align-items: center;
    
}
.thumb-pic span{
    text-align: center;
    background-color: white;
    display: block;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius:30%;
}
.thumb-pic img{
    width: 150px;
    height: 130px;
}
#wrapper p{
    text-align: justify;
}
@media screen and (max-width: 980px) {
    #wrapper{
        width: 670px;
    }

}
   
@media screen and (max-width: 768px) {
    #wrapper{
        width: 90%;
    }
    }
  
@media screen and (max-width: 414px)  {
    #wrapper{
        width: 220px;
    }
    #flex-div{
        justify-content: center;
    }
    }
   
